.offset {
    padding-bottom: 80px;
    @media (max-width:1366px) {
        padding-bottom: 70px;
    }
    @media (max-width:1250px) {
        padding-bottom: 60px;
    }
    @media (max-width:1050px) {
        padding-bottom: 50px;
    }
    @media (max-width:750px) {
        padding-bottom: 40px;
    }
    @media (max-width:550px) {
        padding-bottom: 30px;
    }
}