@-webkit-keyframes transform {
  0% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }

  5% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }

  26% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.7);
    -ms-transform: translate(-50%, -50%) scale(1.7);
    transform: translate(-50%, -50%) scale(1.7);
  }

  41% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }

  56% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.7);
    -ms-transform: translate(-50%, -50%) scale(1.7);
    transform: translate(-50%, -50%) scale(1.7);
  }

  71% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }

  86% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.7);
    -ms-transform: translate(-50%, -50%) scale(1.7);
    transform: translate(-50%, -50%) scale(1.7);
  }

  100% {
    top: -76px;
    left: -50px;
    -webkit-transform: translate(0, 0) scale(0);
    -ms-transform: translate(0, 0) scale(0);
    transform: translate(0, 0) scale(0);
  }
}

@keyframes transform {
  0% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }

  5% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }

  26% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.7);
    -ms-transform: translate(-50%, -50%) scale(1.7);
    transform: translate(-50%, -50%) scale(1.7);
  }

  41% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }

  56% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.7);
    -ms-transform: translate(-50%, -50%) scale(1.7);
    transform: translate(-50%, -50%) scale(1.7);
  }

  71% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
  }

  86% {
    top: calc(50% + 49px);
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.7);
    -ms-transform: translate(-50%, -50%) scale(1.7);
    transform: translate(-50%, -50%) scale(1.7);
  }

  100% {
    top: -76px;
    left: -50px;
    -webkit-transform: translate(0, 0) scale(0);
    -ms-transform: translate(0, 0) scale(0);
    transform: translate(0, 0) scale(0);
  }
}

@-webkit-keyframes block {
  0% {
    width: 0;
    height: 0;
    margin-right: 0;
  }

  100% {
    width: 70px;
    margin-right: 8%;
    height: 80px;
  }
}

@keyframes block {
  0% {
    width: 0;
    height: 0;
    margin-right: 0;
  }

  100% {
    width: 70px;
    margin-right: 8%;
    height: 80px;
  }
}

.animate-1 {
  will-change: transform;
  -webkit-animation-name: anim;
  -webkit-animation-duration: 5s;
  -moz-animation-name: anim;
  -moz-animation-duration: 5s;
  -ms-animation-name: anim;
  -ms-animation-duration: 5s;
  -o-animation-name: anim;
  -o-animation-duration: 5s;
  animation-name: anim;
  animation-duration: 5s;
}

@-webkit-keyframes anim {
  0% {
    image-rendering: optimizeQuality;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform: rotateX(0deg) translateZ(-113px);
    -moz-transform-origin: 50% 50% 0;
    -moz-transform: rotateX(0deg) translateZ(-113px);
    -ms-transform-origin: 50% 50% 0;
    -ms-transform: rotateX(0deg) translateZ(-113px);
    -o-transform-origin: 50% 50% 0;
    -o-transform: rotateX(0deg) translateZ(-113px);
    transform-origin: 50% 50% 0;
    transform: rotateX(0deg) translateZ(-113px);
  }

  25% {
    image-rendering: optimizeQuality;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform: rotateX(-90deg) translateY(113px);
    -moz-transform-origin: 50% 50% 0;
    -moz-transform: rotateX(-90deg) translateY(113px);
    -ms-transform-origin: 50% 50% 0;
    -ms-transform: rotateX(-90deg) translateY(113px);
    -o-transform-origin: 50% 50% 0;
    -o-transform: rotateX(-90deg) translateY(113px);
    transform-origin: 50% 50% 0;
    transform: rotateX(-90deg) translateY(113px);
  }

  80% {
    image-rendering: optimizeQuality;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform: rotateX(-90deg) translateY(113px);
    -moz-transform-origin: 50% 50% 0;
    -moz-transform: rotateX(-90deg) translateY(113px);
    -ms-transform-origin: 50% 50% 0;
    -ms-transform: rotateX(-90deg) translateY(113px);
    -o-transform-origin: 50% 50% 0;
    -o-transform: rotateX(-90deg) translateY(113px);
    transform-origin: 50% 50% 0;
    transform: rotateX(-90deg) translateY(113px);
  }

  100% {
    image-rendering: optimizeQuality;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform: rotateX(0deg) translateZ(-113px);
    -moz-transform-origin: 50% 50% 0;
    -moz-transform: rotateX(0deg) translateZ(-113px);
    -ms-transform-origin: 50% 50% 0;
    -ms-transform: rotateX(0deg) translateZ(-113px);
    -o-transform-origin: 50% 50% 0;
    -o-transform: rotateX(0deg) translateZ(-113px);
    transform-origin: 50% 50% 0;
    transform: rotateX(0deg) translateZ(-113px);
  }
}

@keyframes anim {
  0% {
    image-rendering: optimizeQuality;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform: rotateX(0deg) translateZ(-113px);
    -moz-transform-origin: 50% 50% 0;
    -moz-transform: rotateX(0deg) translateZ(-113px);
    -ms-transform-origin: 50% 50% 0;
    -ms-transform: rotateX(0deg) translateZ(-113px);
    -o-transform-origin: 50% 50% 0;
    -o-transform: rotateX(0deg) translateZ(-113px);
    transform-origin: 50% 50% 0;
    transform: rotateX(0deg) translateZ(-113px);
  }

  25% {
    image-rendering: optimizeQuality;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform: rotateX(-90deg) translateY(113px);
    -moz-transform-origin: 50% 50% 0;
    -moz-transform: rotateX(-90deg) translateY(113px);
    -ms-transform-origin: 50% 50% 0;
    -ms-transform: rotateX(-90deg) translateY(113px);
    -o-transform-origin: 50% 50% 0;
    -o-transform: rotateX(-90deg) translateY(113px);
    transform-origin: 50% 50% 0;
    transform: rotateX(-90deg) translateY(113px);
  }

  80% {
    image-rendering: optimizeQuality;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform: rotateX(-90deg) translateY(113px);
    -moz-transform-origin: 50% 50% 0;
    -moz-transform: rotateX(-90deg) translateY(113px);
    -ms-transform-origin: 50% 50% 0;
    -ms-transform: rotateX(-90deg) translateY(113px);
    -o-transform-origin: 50% 50% 0;
    -o-transform: rotateX(-90deg) translateY(113px);
    transform-origin: 50% 50% 0;
    transform: rotateX(-90deg) translateY(113px);
  }

  100% {
    image-rendering: optimizeQuality;
    -webkit-transform-origin: 50% 50% 0;
    -webkit-transform: rotateX(0deg) translateZ(-113px);
    -moz-transform-origin: 50% 50% 0;
    -moz-transform: rotateX(0deg) translateZ(-113px);
    -ms-transform-origin: 50% 50% 0;
    -ms-transform: rotateX(0deg) translateZ(-113px);
    -o-transform-origin: 50% 50% 0;
    -o-transform: rotateX(0deg) translateZ(-113px);
    transform-origin: 50% 50% 0;
    transform: rotateX(0deg) translateZ(-113px);
  }
}

@-webkit-keyframes hide {
  0% {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    height: auto;
    z-index: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    min-width: 0;
    min-height: 0;
    z-index: 0;
  }
}

@keyframes hide {
  0% {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    width: auto;
    height: auto;
    z-index: 1;
  }

  100% {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    min-width: 0;
    min-height: 0;
    z-index: 0;
  }
}

@-webkit-keyframes phulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes phulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media (min-width: 1440px) {
@-webkit-keyframes anim {
    0% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(0deg) translateZ(-130px);
              transform: rotateX(0deg) translateZ(-130px);
    }

    25% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(-90deg) translateY(130px);
              transform: rotateX(-90deg) translateY(130px);
    }

    80% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(-90deg) translateY(130px);
              transform: rotateX(-90deg) translateY(130px);
    }

    100% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(0deg) translateZ(-130px);
              transform: rotateX(0deg) translateZ(-130px);
    }
}
@keyframes anim {
    0% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(0deg) translateZ(-130px);
              transform: rotateX(0deg) translateZ(-130px);
    }

    25% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(-90deg) translateY(130px);
              transform: rotateX(-90deg) translateY(130px);
    }

    80% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(-90deg) translateY(130px);
              transform: rotateX(-90deg) translateY(130px);
    }

    100% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(0deg) translateZ(-130px);
              transform: rotateX(0deg) translateZ(-130px);
    }
}
}

@media (min-width: 1920px) {
@-webkit-keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -76px;
      left: 9%;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}
@keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -76px;
      left: 9%;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}
}

@media (min-width: 2560px) {
@-webkit-keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -76px;
      left: 19%;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}
@keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -76px;
      left: 19%;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}
}

@media (min-width: 3440px) {
@-webkit-keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -76px;
      left: 27%;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}
@keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -76px;
      left: 27%;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}
}

@media (min-width: 3840px) {
@-webkit-keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -76px;
      left: 30%;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}
@keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -76px;
      left: 30%;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}
}

@media (max-width: 1366px) {
@-webkit-keyframes block {
    0% {
      width: 0;
      height: 0;
      margin-right: 0;
    }

    100% {
      width: 60px;
      margin-right: 8%;
      height: 70px;
    }
}
@keyframes block {
    0% {
      width: 0;
      height: 0;
      margin-right: 0;
    }

    100% {
      width: 60px;
      margin-right: 8%;
      height: 70px;
    }
}
}

@media (max-width: 1100px) {
@-webkit-keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -76px;
      left: -100px;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}
@keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -76px;
      left: -100px;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}

@-webkit-keyframes block {
    0% {
      width: 0;
      height: 0;
      margin-right: 0;
    }

    100% {
      width: 60px;
      margin-right: 1%;
      height: 70px;
    }
}

@keyframes block {
    0% {
      width: 0;
      height: 0;
      margin-right: 0;
    }

    100% {
      width: 60px;
      margin-right: 1%;
      height: 70px;
    }
}
}

@media (max-width: 900px) {
@-webkit-keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -30px;
      left: -40px;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}
@keyframes transform {
    0% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    5% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    26% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    41% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    56% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    71% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.1);
              transform: translate(-50%, -50%) scale(1.1);
    }

    86% {
      top: calc(50% + 49px);
      left: 50%;
      -webkit-transform: translate(-50%, -50%) scale(1.7);
              transform: translate(-50%, -50%) scale(1.7);
    }

    100% {
      top: -30px;
      left: -40px;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}

@-webkit-keyframes block {
    0% {
      width: 0;
      height: 0;
      margin-right: 0;
    }

    100% {
      width: 60px;
      margin-right: 0;
      height: 70px;
    }
}

@keyframes block {
    0% {
      width: 0;
      height: 0;
      margin-right: 0;
    }

    100% {
      width: 60px;
      margin-right: 0;
      height: 70px;
    }
}

@-webkit-keyframes anim {
    0% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(0deg) translateZ(-90px);
              transform: rotateX(0deg) translateZ(-90px);
    }

    25% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(-90deg) translateY(90px);
              transform: rotateX(-90deg) translateY(90px);
    }

    80% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(-90deg) translateY(90px);
              transform: rotateX(-90deg) translateY(90px);
    }

    100% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(0deg) translateZ(-90px);
              transform: rotateX(0deg) translateZ(-90px);
    }
}

@keyframes anim {
    0% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(0deg) translateZ(-90px);
              transform: rotateX(0deg) translateZ(-90px);
    }

    25% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(-90deg) translateY(90px);
              transform: rotateX(-90deg) translateY(90px);
    }

    80% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(-90deg) translateY(90px);
              transform: rotateX(-90deg) translateY(90px);
    }

    100% {
      -webkit-transform-origin: 50% 50% 0;
              transform-origin: 50% 50% 0;
      -webkit-transform: rotateX(0deg) translateZ(-90px);
              transform: rotateX(0deg) translateZ(-90px);
    }
}
}

@media (max-width: 600px) {
@-webkit-keyframes block {
    0% {
      width: 0;
      height: 0;
      margin-right: 0;
    }

    100% {
      width: 50px;
      margin-right: 0;
      height: 60px;
    }
}
@keyframes block {
    0% {
      width: 0;
      height: 0;
      margin-right: 0;
    }

    100% {
      width: 50px;
      margin-right: 0;
      height: 60px;
    }
}
}

@media (max-width: 550px) {
@-webkit-keyframes transform {
    0% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.1);
              transform: translate(-50%, -25%) scale(1.1);
    }

    5% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.1);
              transform: translate(-50%, -25%) scale(1.1);
    }

    26% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.7);
              transform: translate(-50%, -25%) scale(1.7);
    }

    41% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.1);
              transform: translate(-50%, -25%) scale(1.1);
    }

    56% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.7);
              transform: translate(-50%, -25%) scale(1.7);
    }

    71% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.1);
              transform: translate(-50%, -25%) scale(1.1);
    }

    86% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.7);
              transform: translate(-50%, -25%) scale(1.7);
    }

    100% {
      top: -30px;
      left: -40px;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}
@keyframes transform {
    0% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.1);
              transform: translate(-50%, -25%) scale(1.1);
    }

    5% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.1);
              transform: translate(-50%, -25%) scale(1.1);
    }

    26% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.7);
              transform: translate(-50%, -25%) scale(1.7);
    }

    41% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.1);
              transform: translate(-50%, -25%) scale(1.1);
    }

    56% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.7);
              transform: translate(-50%, -25%) scale(1.7);
    }

    71% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.1);
              transform: translate(-50%, -25%) scale(1.1);
    }

    86% {
      top: 25%;
      left: 50%;
      -webkit-transform: translate(-50%, -25%) scale(1.7);
              transform: translate(-50%, -25%) scale(1.7);
    }

    100% {
      top: -30px;
      left: -40px;
      -webkit-transform: translate(0, 0) scale(0);
              transform: translate(0, 0) scale(0);
    }
}

@-webkit-keyframes block {
    0% {
      width: 0;
      height: 0;
      margin-right: 0;
    }

    100% {
      width: 40px;
      margin-right: 0;
      height: 50px;
    }
}

@keyframes block {
    0% {
      width: 0;
      height: 0;
      margin-right: 0;
    }

    100% {
      width: 40px;
      margin-right: 0;
      height: 50px;
    }
}
}