@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}

* .container {
  margin: 0 auto;
  padding: 0 15px 0 15px;
  max-width: 1560px;
}

* .wrapper {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1330px;
}

* a {
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

* .title {
  font-size: calc(37px + (37 - 25) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 500;
  line-height: 140%;
  color: #ffffff;
}

* .title-rotate {
  position: relative;
  font-size: calc(37px + (37 - 25) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 500;
  line-height: 140%;
  color: #ffffff;
  padding-left: 147px;
}

* .title-rotate::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -20px;
  width: 127px;
  height: 127px;
  background: url(../img/icons/icon_title.svg) center/cover no-repeat;
}

* .subtitle {
  font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1470 - 320)));
}

* section {
  background-color: #121212;
  margin-top: -1px;
}

.screen {
  background: url(../img/screen/screen__bg.jpg) no-repeat;
  background-position: top right;
  background-size: cover;
}

.screen__title {
  font-weight: bold;
  font-size: calc(42px + (42 - 18) * ((100vw - 320px) / (1440 - 320)));
  line-height: 140%;
  color: #ffffff;
  margin-top: 10%;
}

.screen-progress {
  margin-top: 218px;
  background: #121212;
  min-height: 130px;
  padding-top: 36px;
  padding-bottom: 28px;
}

.screen-progress__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 1300px;
}

.screen-progress__button {
  background: -o-linear-gradient(355.22deg, #df5950 11.19%, #451046 45.72%);
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 45.72%);
  background-size: 200%;
  border-radius: 50px;
  padding: 10px 30px;
  text-align: center;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.screen-progress__button:hover {
  background-position: 100%;
}

.screen-progress__participants {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
}

.screen-progress__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.screen-progress__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.screen-progress__num {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.screen-progress .inspiration {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 714px;
          flex: 0 1 714px;
}

.screen-progress .inspiration__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 6px solid #fff;
}

.screen-progress .inspiration__item-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}

.screen-progress .inspiration__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
  margin-right: 30px;
}

.screen-progress .inspiration__num {
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}

.screen-progress .inspiration__amount {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.4);
}

.screen-progress .inspiration__line {
  width: 100%;
  height: 6px;
  background: -o-linear-gradient(355.22deg, #df5950 11.19%, #451046 93.72%);
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 93.72%);
  margin-top: -6px;
}

.beginning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
}

.beginning__item {
  background: #121212;
  padding: 20px 30px;
  margin-right: 3%;
}

.beginning__item:last-child {
  margin: 0;
}

.beginning__item_title {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #ffffff;
}

.beginning__item_subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.4);
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.header__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .header__list ._active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.header__link {
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin: 0 30px;
}

.header__link:hover {
  color: #7c6afa;
}

.header__button {
  background: -webkit-gradient(linear, left top, right top, color-stop(9.51%, #c89afc), color-stop(90.23%, #7c6afa));
  background: -o-linear-gradient(left, #c89afc 9.51%, #7c6afa 90.23%);
  background: linear-gradient(to right, #c89afc 9.51%, #7c6afa 90.23%);
  background-size: 200%;
  border-radius: 50px;
  padding: 10px 30px;
  text-align: center;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__button:hover {
  background-position: -100%;
}

.header__burger {
  z-index: 100;
  display: none;
  width: 26px;
  height: 12px;
  cursor: pointer;
  margin-top: -15px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.header__burger span {
  display: block;
  height: 3px;
  width: 100%;
  border-radius: 100px;
  background: -webkit-gradient(linear, left top, right top, color-stop(9.51%, #c89afc), color-stop(90.23%, #7c6afa));
  background: -o-linear-gradient(left, #c89afc 9.51%, #7c6afa 90.23%);
  background: linear-gradient(to right, #c89afc 9.51%, #7c6afa 90.23%);
  margin-bottom: 5px;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.header__burger_active {
  z-index: 6000;
}

.header__burger_active span {
  margin-bottom: -2px;
}

.header__burger_active span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header__burger_active span:nth-child(2) {
  display: none;
}

.header__burger_active span:nth-child(3) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.about {
  padding-top: 200px;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__img img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__text {
  margin-top: 80px;
}

.about__title {
  margin-bottom: 45px;
  font-size: calc(35px + (35 - 25) * ((100vw - 320px) / (1440 - 320)));
}

.about__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #ffffff;
  max-width: 636px;
}

.start {
  padding-top: 200px;
  padding-bottom: 200px;
}

.start__title {
  margin-bottom: 50px;
}

.start__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 80px;
  max-width: 415px;
}

.start__progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start__progress-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.start__progress-text {
  font-weight: bold;
  font-size: 36px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 20px;
}

.start__progress-line {
  width: 100%;
  background: -o-linear-gradient(355.74deg, #c89afc 9.51%, #7c6afa 90.23%);
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  margin-bottom: 35px;
}

.start__progress-subtext {
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.5);
  padding-right: 20px;
}

.profi {
  padding-bottom: 200px;
}

.profi__title {
  text-align: center;
  margin-bottom: 120px;
}

.profi__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profi__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.profi__card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profi__card-img {
  margin-bottom: 60px;
}

.profi__card-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
  margin-bottom: 30px;
}

.profi__card-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #ffffff;
  padding: 0 35px;
}

.partners {
  padding-bottom: 150px;
}

.partners__title {
  margin-bottom: 90px;
}

.partners__title::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.partners__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__row:last-child .partners__column {
  border-bottom: 0;
}

.partners__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 20px 0;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.partners__column:last-child {
  border-right: 0;
}

.partners__column:nth-child(4) {
  border-right: 0;
}

.partners__column img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.programs {
  padding-bottom: 200px;
}

.programs__wrapper {
  margin: 0 auto;
  max-width: 750px;
  padding-top: 200px;
}

.programs__title {
  padding-left: 0;
  margin-bottom: 30px;
  text-align: center;
}

.programs__title::before {
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  top: -325%;
  left: 42.5%;
}

.programs__subtitle {
  max-width: 420px;
  margin: auto;
  text-align: center;
  margin-bottom: 90px;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5);
}

.programs__parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programs__column {
  position: relative;
  min-height: 680px;
  padding: 5px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
}

.programs__column::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background: -o-linear-gradient(355.74deg, #c89afc 9.51%, #7c6afa 90.23%);
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
}

.programs__column:last-child {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: left;
}

.programs__column:last-child::after {
  display: none;
}

.programs__column:last-child .programs__column-subtitle::before {
  left: -49px;
}

.programs__column-subtitle {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  color: #ffffff;
  max-width: 300px;
}

.programs__column-subtitle::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: -49px;
  width: 40px;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.programs__column-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 15px;
}

.prepods {
  padding-bottom: 200px;
}

.prepods__wrapper {
  margin: 0 auto;
  max-width: 1340px;
}

.prepods__title {
  margin-bottom: 100px;
}

.prepods__title::before {
  -webkit-transform: rotate(315deg);
      -ms-transform: rotate(315deg);
          transform: rotate(315deg);
  top: -50px;
  left: 0;
}

.prepods__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.prepods__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prepods__card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.prepods__card-img {
  margin-bottom: 40px;
}

.prepods__card-name {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #ffffff;
}

.prepods__card-profi {
  max-width: 240px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

.prepods__card-button {
  padding: 10px 30px;
  background: rgba(124, 106, 250, 0);
  text-align: center;
  display: inline-block;
  -webkit-transition: 0.5 all;
  -o-transition: 0.5 all;
  transition: 0.5 all;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 50px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.prepods__card-button:hover {
  cursor: pointer;
  background: rgba(124, 106, 250, 0.5);
}

.footer {
  padding-bottom: 30px;
  background: #121212;
}

.footer__wrapper {
  margin: 0 auto;
  max-width: 550px;
}

.footer__title {
  margin-bottom: 30px;
  text-align: center;
}

.footer__subtitle {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 60px;
  max-width: 400px;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.5);
}

.footer__box {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 495px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.footer__form-input {
  padding: 10px 30px;
  background-color: transparent;
  font-size: 14px;
  line-height: 160%;
  color: #ffffff;
}

.footer__form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.footer__form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.footer__form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.footer__form-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.footer__form-input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.footer__form-button {
  background: -o-linear-gradient(355.22deg, #df5950 11.19%, #451046 45.72%);
  background: linear-gradient(94.78deg, #df5950 11.19%, #451046 45.72%);
  background-size: 200%;
  border-radius: 50px;
  padding: 10px 30px;
  text-align: center;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__form-button:hover {
  background-position: 100%;
}

.footer__sozial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.footer__sozial-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: -o-linear-gradient(355.74deg, #c89afc 9.51%, #7c6afa 90.23%);
  background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  margin: 0 15px;
  background-size: 200%;
}

.footer__sozial-link:hover {
  background-position: -100%;
}

.footer__sozial-link:hover svg path {
  fill: url(#linear-gradient);
}

.footer__copy {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1200px) {
  * a:hover {
    display: none;
  }

  .screen__title {
    line-height: 120%;
    margin-top: 15%;
  }

  .screen-progress {
    margin-top: 60px;
    padding: 20px 0;
  }

  .screen-progress__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .screen-progress__participants {
    margin: 0 20px;
  }

  .screen-progress .inspiration {
    margin: 20px auto;
  }

  .about {
    padding-top: 60px;
  }

  .about__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }

  .about__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-top: 20px;
  }

  .start {
    padding-top: 80px;
    padding-bottom: 60px;
  }

  .profi {
    padding-bottom: 80px;
  }

  .partners {
    padding-bottom: 80px;
  }

  .programs {
    padding-bottom: 80px;
  }

  .programs__wrapper {
    padding-top: 120px;
  }

  .prepods {
    padding-bottom: 80px;
  }
}

@media (max-width: 1140px) {
  .screen {
    overflow: hidden;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }

  .header__menu {
    padding: 0 15px;
  }

  .header__logo {
    z-index: 100;
  }

  .header__list {
    position: fixed;
    overflow: auto;
    top: 0;
    left: -300%;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.95);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header__list li {
    margin-bottom: 10px;
  }

  .header__list_active {
    left: 0;
  }

  .header__button {
    z-index: 100;
  }

  .header__burger {
    display: block;
  }
}

@media (max-width: 1000px) {
  .profi__card-title {
    padding: 0 15px;
    font-size: 22px;
    line-height: 130%;
    margin-bottom: 20px;
  }
}

@media (max-width: 950px) {
  .partners {
    padding-bottom: 30px;
  }

  .partners__row:last-child .partners__column:nth-child(1) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .partners__row:last-child .partners__column:nth-child(2) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .partners__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .partners__column:nth-child(2) {
    border-right: 0;
  }

  .partners__column:nth-child(5) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .partners__column:nth-child(6) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: 902px) {
  .profi__card-title {
    font-size: 20px;
    line-height: 120%;
  }

  .profi__card-subtitle {
    line-height: 140%;
  }
}

@media (max-width: 900px) {
  * .title {
    margin-bottom: 30px;
    font-size: 30px;
  }

  * .title::before {
    width: 90px;
    height: 90px;
  }

  * .title-rotate {
    margin-bottom: 30px;
    font-size: 30px;
    padding-left: 70px;
  }

  * .title-rotate::before {
    width: 90px;
    height: 90px;
  }

  .about__title {
    margin-bottom: 30px;
    font-size: 30px;
  }

  .about__subtitle {
    font-size: 14px;
  }

  .start__title {
    margin-bottom: 30px;
  }

  .start__subtitle {
    margin-bottom: 40px;
  }

  .start__progress-text {
    line-height: 120%;
    font-size: 28px;
  }

  .profi__title {
    margin-bottom: 60px;
    padding-left: 0;
  }

  .profi__card-img img {
    max-width: 90%;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .profi__card-img {
    margin-bottom: 20px;
  }

  .programs {
    padding-bottom: 60px;
  }

  .programs__title::before {
    left: 44%;
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
  }

  .programs__title {
    padding-left: 0;
  }

  .programs__subtitle {
    margin-bottom: 40px;
  }

  .prepods {
    padding-bottom: 60px;
  }

  .footer__title {
    margin-bottom: 20px;
  }

  .footer__subtitle {
    margin-bottom: 30px;
  }

  .footer__form {
    margin-bottom: 30px;
  }
}

@media (max-width: 850px) {
  .beginning__item {
    padding: 15px 25px;
  }

  .beginning__item_title {
    font-size: 30px;
  }
}

@media (max-width: 800px) {
  .prepods__card-img {
    text-align: center;
    margin-bottom: 20px;
  }

  .prepods__card-img img {
    max-width: 80%;
    -o-object-fit: cover;
       object-fit: cover;
  }

  .prepods__card-name {
    font-size: 22px;
  }

  .prepods__card-profi {
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .about {
    padding-top: 0;
  }

  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }

  .about__img img {
    max-width: 80%;
  }

  .about__img {
    margin: 0 auto;
    opacity: 0.5;
    text-align: center;
  }

  .about__text {
    margin-top: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .about__title {
    margin-bottom: 20px;
  }

  .start__progress {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .start__progress-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 40px;
  }

  .profi__card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .profi__card-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin-bottom: 40px;
  }

  .profi__card-item:last-child {
    margin: auto;
  }

  .partners__column img {
    max-width: 70%;
  }

  .programs__wrapper {
    padding-top: 100px;
  }

  .programs__title::before {
    top: -300%;
  }

  .programs__parts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .programs__column::after {
    display: none;
  }

  .programs__column {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: auto;
  }

  .programs__column:last-child .programs__column-subtitle::before {
    left: 35%;
  }

  .programs__column:last-child .programs__column-text:last-child::before {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 100%;
    height: 4px;
    background: -o-linear-gradient(355.74deg, #c89afc 9.51%, #7c6afa 90.23%);
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  }

  .programs__column-subtitle {
    text-align: center;
    font-size: 16px;
    line-height: 140%;
  }

  .programs__column-subtitle::before {
    display: none;
  }

  .programs__column-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    margin-bottom: 60px;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
  }

  .programs__column-text::after {
    content: "";
    position: absolute;
    top: -20px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background: -o-linear-gradient(355.74deg, #c89afc 9.51%, #7c6afa 90.23%);
    background: linear-gradient(94.26deg, #c89afc 9.51%, #7c6afa 90.23%);
  }

  .programs__column-title {
    text-align: center;
  }
}

@media (max-width: 700px) {
  .prepods__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .prepods__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 35%;
            flex: 0 1 35%;
  }

  .prepods__card:last-child {
    margin-top: 20px;
  }

  .footer__box {
    padding: 0 100px;
  }

  .footer__form {
    width: 100%;
  }

  .footer__form-button {
    padding: 10px 20px;
    font-size: 15px;
  }
}

@media (max-width: 640px) {
  .programs__title::before {
    left: 43%;
  }
}

@media (max-width: 630px) {
  .about__text {
    width: 60%;
    text-align: center;
  }

  .about__title {
    text-align: center;
  }

  .about__subtitle {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 620px) {
  .programs__column-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
  }
}

@media (max-width: 610px) {
  .screen__title {
    font-size: 35px;
    margin-top: 20%;
    text-align: center;
  }

  .screen__title br {
    display: none;
  }

  .beginning {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .beginning:last-child {
    margin-top: 10%;
  }

  .beginning__item {
    padding: 10px 20px;
  }

  .beginning__item_title {
    font-size: 25px;
    line-height: 120%;
  }
}

@media (max-width: 602px) {
  .profi__card-title {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .screen {
    background-position: 91% 60%;
  }

  .start {
    padding-bottom: 20px;
  }

  .profi__title {
    padding: 0 15px;
  }

  .programs {
    padding-bottom: 40px;
  }

  .prepods {
    padding-bottom: 40px;
  }

  .prepods__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .prepods__card-profi {
    line-height: 140%;
  }
}

@media (max-width: 550px) {
  .about__text {
    width: 90%;
  }

  .profi__card-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .partners__title {
    text-align: center;
    line-height: 120%;
    font-size: 27px;
  }

  .programs__title::before {
    left: 42%;
  }

  .footer__box {
    padding: 0;
  }

  .footer__form {
    max-width: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
  }

  .footer__form-input {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .footer__form-button {
    max-width: 250px;
    padding: 12px 50px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .screen__title {
    margin-top: 30%;
    line-height: 130%;
  }

  .screen-progress__button {
    padding: 10px 25px;
  }

  .header__button {
    padding: 10px 20px;
  }

  .programs__title::before {
    left: 41%;
  }

  .programs__title {
    margin-bottom: 20px;
  }

  .programs__subtitle {
    font-size: 15px;
    padding: 0 15px;
  }

  .footer__title {
    line-height: 140%;
    font-size: 30px;
  }

  .footer__subtitle {
    font-size: 15px;
    line-height: 140%;
  }

  .footer__sozial-link {
    width: 40px;
    height: 40px;
  }

  .footer__copy {
    font-size: 15px;
  }
}

@media (max-width: 490px) {
  .screen-progress__button {
    margin: 10px auto;
  }

  .screen-progress__participants {
    padding-left: 10px;
    margin: 10px auto;
  }

  .screen-progress__num {
    font-size: 14px;
  }

  .screen-progress .inspiration__num {
    font-size: 14px;
  }

  .screen-progress .inspiration__amount {
    font-size: 14px;
  }
}

@media (max-width: 470px) {
  .prepods__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin-bottom: 30px;
  }

  .prepods__card:last-child {
    margin-bottom: 0;
  }

  .footer__form-input {
    border-radius: 50px;
    padding: 12px 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 450px) {
  .about__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__img {
    display: none;
  }

  .about__text {
    position: static;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    width: 90%;
  }

  .about__subtitle {
    line-height: 140%;
  }

  .start__subtitle {
    line-height: 140%;
  }

  .start__progress-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 80%;
            flex: 0 1 80%;
    margin-bottom: 20px;
  }

  .start__progress-text {
    font-size: 23px;
  }

  .start__progress-line {
    margin-bottom: 20px;
  }

  .profi__title {
    margin-bottom: 30px;
  }

  .partners__column img {
    max-width: 80%;
  }

  .programs__wrapper {
    padding-top: 60px;
  }

  .programs__title::before {
    left: 40%;
    top: -250%;
  }

  .programs__column-subtitle {
    margin: 0 auto;
  }

  .programs__column-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .prepods__title {
    text-align: center;
  }
}

@media (max-width: 430px) {
  .beginning__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33%;
            flex: 0 1 33%;
    margin-bottom: 15px;
  }

  .beginning__item:last-child {
    margin-right: 3%;
    margin-bottom: 15px;
  }
}

@media (max-width: 420px) {
  .beginning {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 400px) {
  * .title {
    font-size: 25px;
    line-height: 120%;
  }

  .screen__title {
    font-size: 27px;
  }

  .screen-progress__button {
    font-size: 14px;
  }

  .header__button {
    padding: 10px 15px;
    font-size: 14px;
  }

  .about__title {
    margin-bottom: 10px;
    line-height: 100%;
    font-size: 27px;
  }

  .about__subtitle {
    font-size: 13px;
  }

  .programs__title::before {
    left: 39%;
  }

  .prepods__title {
    padding-left: 0;
  }
}

@media (max-width: 350px) {
  .programs__title::before {
    left: 37%;
  }

  .prepods__title {
    padding: 0 10px;
    line-height: 120%;
  }
}