.lending-about__wrapper {
  padding: 50px 0 80px 0;
  background: url(../img/lending/lending-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.lending-about__box {
  display: block;
  margin-bottom: 0;
}

.lending-about__title {
  max-width: 492px;
  font-size: 44px;
  line-height: 125%;
  margin-bottom: 24px;
}

.lending-about__descr {
  max-width: 525px;
  font-size: 16px;
  line-height: 150%;
}

.lending-about-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -45px;
  margin-bottom: 50px;
}

.lending-about-cards .cards-benefits__title {
  margin-bottom: 20px;
}

.lending-about-cards .cards-benefits__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 431px;
          flex: 0 1 431px;
  padding-bottom: 35px;
}

.lending {
  background: #f3f4f8;
  padding-top: 115px;
  padding-bottom: 76px;
}

.lending__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.lending__text {
  max-width: 645px;
}

.lending__title {
  max-width: 400px;
  margin-bottom: 28px;
}

.lending__descr {
  font-size: 16px;
  line-height: 150%;
}

.lending__descr:not(:last-child) {
  margin-bottom: 25px;
}

.lending__about {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 652px;
          flex: 0 1 652px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.lending__row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 315px);
  gap: 20px;
}

.lending__top {
  background: -o-linear-gradient(351.92deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 56.91%);
  background: linear-gradient(98.08deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 56.91%);
  -webkit-box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.1);
  color: #000000;
  display: block;
}

.lending__top .about__quantity,
.lending__top .about__name,
.lending__top p {
  color: inherit;
}

.lending__card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lending__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 225px;
  padding: 30px 20px 30px 25px;
}

.lending__card p {
  margin-bottom: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.lending__card .about__fuel {
  margin-bottom: 20px;
}

.lending__card .about__fuel p {
  font-size: 16px;
  line-height: 150%;
}

.lending__card .about__quantity {
  font-weight: 400;
  font-size: 26px;
  line-height: 49px;
}

.lending__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lending__shell {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 676px;
          flex: 0 1 676px;
  max-height: 459px;
  overflow: auto;
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.lending__shell::-webkit-scrollbar,
.lending__shell::-webkit-scrollbar {
  width: 9px;
}

.lending__shell::-webkit-scrollbar-track {
  background: #687381;
  border-radius: 7px;
}

.lending__shell::-webkit-scrollbar-thumb {
  width: 9px;
  background: #ffda0b;
  border-radius: 7px;
  border: 3px solid #687381;
}

.lending__payment {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 652px;
          flex: 0 1 652px;
}

.table-lending {
  background: #ffffff;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}

.table-lending__thead {
  width: 100%;
}

.table-lending__thead tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 35px 18px 30px;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
}

.table-lending__actual {
  font-weight: 500;
  font-size: 23px;
  line-height: 135%;
}

.table-lending__date {
  opacity: 0.5;
}

.table-lending__tbody {
  width: 100%;
}

.table-lending__tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 50px 12px 30px;
  border-top: 0.1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.1);
  min-height: 56px;
}

.table-lending__tr:first-child {
  border-top: none;
}

.table-lending__tr:last-child {
  border: none;
  min-height: 64px;
  padding-bottom: 20px;
}

.table-lending__td {
  font-size: 16px;
  font-weight: 500;
}

.table-lending__quantity {
  font-weight: 700;
  font-size: 13px;
}

.table-lending__price {
  font-size: 13px;
}

.payment-lending {
  background: #2b3138;
  border-radius: 10px;
  padding: 33px 35px 33px 45px;
}

.payment-lending__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.payment-lending__title {
  font-weight: 700;
  max-width: unset;
}

.payment-lending__box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 256px;
          flex: 0 1 256px;
  display: block;
  margin-bottom: 0;
}

.payment-lending__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 274px;
          flex: 0 1 274px;
  background: rgba(104, 115, 129, 0.5);
  border-radius: 4px;
  text-align: center;
  height: auto;
  padding: 30px 28px 25px 28px;
}

.payment-lending__choice.hide {
  display: none;
}

.payment-lending__img {
  margin-bottom: 30px;
}

.payment-lending__text {
  max-width: 155px;
  font-weight: 700;
  font-size: 17px;
  line-height: 21px;
  color: #ffffff;
}

.payment-lending__input {
  margin-bottom: 0;
}

.payment-lending__button {
  margin-top: 25px;
}

.payment-lending__tons {
  margin-bottom: 20px;
}

.payment-lending__outcome {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 274px;
          flex: 0 1 274px;
  background: rgba(104, 115, 129, 0.5);
  border-radius: 4px;
  height: auto;
  padding: 30px 20px 25px 20px;
}

.outcome {
  display: none;
}

.outcome__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.outcome__price {
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}

.outcome__modal {
  font-size: 12px;
  line-height: 150%;
  color: #ffda0b;
}

.outcome__type {
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 23px;
}

.outcome__address {
  font-weight: 700;
  font-size: 14px;
  line-height: 129%;
  color: #ffffff;
  margin-bottom: 7px;
}

.outcome__quantity {
  font-size: 12px;
  line-height: 150%;
  color: #ffffff;
}

.outcome__quantity:not(:last-child) {
  margin-bottom: 7px;
}

.outcome__button {
  margin-top: 23px;
  padding: 15px 0;
  width: 100%;
}

.outcome.visible {
  display: block;
}

.lending-garanty {
  padding-top: 60px;
}

.lending-garanty__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lending-garanty__cards {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 645px;
          flex: 0 1 645px;
  display: block;
}

.lending-garanty__option {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 636px;
          flex: 0 1 636px;
  max-width: 636px;
  padding: 0;
}

.lending-garanty__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 308px;
          flex: 0 1 308px;
  min-height: 395px;
}

.lending-garanty__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 275px;
          flex: 0 1 275px;
}

.lending-garanty__descr {
  max-width: 265px;
}

.lending-garanty__cards-title {
  margin-bottom: 34px;
}

.lending-garanty .cards-system__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 40px 35px;
}

.lending-garanty .cards-system__item {
  margin-bottom: 20px;
}

.lending-garanty .cards-system__item:last-child {
  margin-bottom: 0;
}

.lending-garanty .option-clients__examples {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.system-title {
  max-width: 290px;
}

@media (max-width: 1439px) {
  .lending-about-cards {
    grid-template-columns: repeat(3, 30%);
  }
}

@media (max-width: 1420px) {
  .lending__shell {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }

  .lending__payment {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }
}

@media (max-width: 1410px) {
  .lending-about-cards .cards-benefits__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 31%;
            flex: 0 1 31%;
  }
}

@media (max-width: 1390px) {
  .lending__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }

  .lending__about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }

  .lending__row {
    grid-template-columns: repeat(auto-fill, 48%);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .lending__card .about__quantity {
    font-size: 24px;
    line-height: 180%;
  }

  .lending-garanty__cards {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }

  .lending-garanty__option {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }
}

@media (max-width: 1366px) {
  .lending {
    padding: 80px 0;
  }

  .lending__shell {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }

  .lending__payment {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }

  .table-lending__thead tr {
    padding: 20px;
  }

  .table-lending__actual {
    font-size: 20px;
  }

  .table-lending__tr {
    padding: 10px 20px;
  }

  .table-lending__td {
    font-size: 14px;
  }

  .payment-lending {
    padding: 20px;
  }

  .lending-garanty__cards {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 46%;
            flex: 0 1 46%;
  }

  .lending-garanty__option {
    max-width: 50%;
  }

  .lending-garanty__body {
    max-height: 350px;
  }

  .lending-garanty__text {
    min-height: unset;
  }

  .lending-garanty__descr {
    margin-bottom: 0;
  }

  .lending-garanty__cards-title {
    font-size: 32px;
    line-height: 130%;
  }
}

@media (max-width: 1300px) {
  .payment-lending .form-group {
    width: unset;
  }

  .payment-lending__tons {
    max-width: unset;
  }
}

@media (max-width: 1260px) {
  .lending {
    padding: 50px 0;
  }

  .lending__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
  }

  .lending__title {
    font-size: 35px;
    line-height: 130%;
    margin-bottom: 20px;
  }

  .lending__descr {
    font-size: 15px;
  }

  .lending__about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .lending__top .about__quantity,
  .lending__top .about__name,
  .lending__top p {
    font-size: 21px;
  }

  .lending .about__mobile,
  .lending .about__descr {
    font-size: 18px;
  }

  .lending__card {
    min-height: 200px;
  }
}

@media (max-width: 1250px) {
  .lending-about-cards {
    margin-bottom: 40px;
  }

  .table-lending__actual {
    font-size: 18px;
  }

  .table-lending__tr:last-child {
    min-height: 50px;
    padding-bottom: 15px;
  }

  .table-lending__tr {
    min-height: 40px;
  }

  .table-lending__td {
    font-size: 13px;
  }

  .payment-lending__title {
    font-size: 22px;
    line-height: 120%;
    margin-bottom: 20px;
  }

  .payment-lending__box {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }

  .payment-lending__choice {
    padding: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }

  .payment-lending__button {
    font-size: 18px;
  }

  .payment-lending__outcome {
    padding: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49%;
            flex: 0 1 49%;
  }

  .outcome__button {
    font-size: 18px;
  }

  .lending-garanty {
    padding-top: 40px;
  }

  .lending-garanty__cards {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
  }

  .lending-garanty__cards-title {
    font-size: 28px;
  }

  .lending-garanty .examples-cliens__title {
    font-size: 28px;
  }
}

@media (max-width: 1150px) {
  .lending-about-cards {
    margin-top: -25px;
    margin-bottom: 30px;
  }

  .lending__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .lending__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: unset;
    margin-bottom: 40px;
  }

  .lending__about {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .lending__row {
    grid-template-columns: repeat(auto-fill, 32%);
    gap: 20px;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }

  .lending__top {
    max-width: unset;
  }

  .lending__shell {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 31%;
            flex: 0 1 31%;
  }

  .lending__payment {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 67%;
            flex: 0 1 67%;
  }

  .table-lending__thead tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px 10px;
  }

  .table-lending__thead tr:not(:last-child) {
    margin-bottom: 10px;
  }

  .table-lending__tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 10px;
  }

  .table-lending__td {
    font-size: 14px;
  }

  .table-lending__td:not(:last-child) {
    margin-bottom: 7px;
  }

  .table-lending__price {
    font-size: 12px;
  }

  .lending-garanty__option {
    padding: 0;
  }
}

@media (max-width: 1050px) {
  .lending-about__title {
    max-width: 400px;
  }

  .lending {
    padding: 40px 0;
  }

  .lending__title {
    font-size: 32px;
  }

  .lending__row {
    grid-template-columns: repeat(auto-fill, 31.9%);
  }

  .payment-lending__button {
    font-size: 16px;
  }

  .outcome__button {
    font-size: 16px;
  }

  .lending-garanty__body {
    max-height: 300px;
  }

  .lending-garanty__text {
    padding-top: 0;
  }

  .lending-garanty__descr {
    margin-bottom: 0;
    font-size: 13px;
  }

  .lending-garanty__cards-title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .lending-garanty .cards-system__info {
    padding: 20px;
  }

  .lending-garanty .examples-cliens__title {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .lending-garanty .examples-cliens__header {
    margin-bottom: 0;
  }
}

@media (max-width: 990px) {
  .lending__shell {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 32%;
            flex: 0 1 32%;
  }

  .lending__payment {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66%;
            flex: 0 1 66%;
  }
}

@media (max-width: 970px) {
  .lending__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-template-columns: repeat(auto-fill, 31.8%);
  }
}

@media (max-width: 950px) {
  .lending-about__title {
    max-width: 350px;
  }

  .lending-about-cards .cards-benefits__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 48%;
            flex: 0 1 48%;
    padding-top: 35px;
  }

  .lending__text {
    margin-bottom: 30px;
  }

  .lending__row {
    grid-template-columns: repeat(auto-fill, 48%);
  }

  .lending__card {
    min-height: 170px;
  }

  .lending__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .lending__shell {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-height: 325px;
    margin-bottom: 30px;
  }

  .lending__payment {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .table-lending__thead tr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
  }

  .table-lending__tr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 20px;
  }

  .table-lending__td:not(:last-child) {
    margin-bottom: 0;
  }

  .lending-garanty {
    padding-top: 30px;
  }

  .lending-garanty__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .lending-garanty__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: unset;
  }

  .lending-garanty__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .lending-garanty__slider {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .lending-garanty__descr {
    max-width: 100%;
    margin-bottom: 20px;
    padding-right: 0;
  }

  .lending-garanty__cards-title {
    font-size: 22px;
  }

  .lending-garanty .option-clients__item {
    display: inline-block;
    float: right;
  }

  .lending-garanty .option-clients__item img {
    max-height: 200px;
  }

  .lending-garanty .option-clients__nav {
    display: none;
  }

  .lending-garanty .examples-cliens__title {
    font-size: 22px;
  }
}

@media (max-width: 898px) {
  .lending-garanty .option-clients__item img {
    min-height: 220px;
  }
}

@media (max-width: 850px) {
  .lending-about__title {
    max-width: 350px;
    margin-bottom: 20px;
  }

  .lending__top::after {
    display: none;
  }

  .lending-garanty__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .lending-garanty__cards {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .lending-garanty__option {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    max-width: 100%;
  }

  .lending-garanty__text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }

  .lending-garanty .option-clients__nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .lending-garanty .examples-cliens__title {
    margin-bottom: 0;
  }

  .lending-garanty .option-clients .swiper-slide {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 750px) {
  .lending-about-cards {
    margin-top: -10px;
  }

  .lending__title {
    font-size: 28px;
  }

  .lending__descr:not(:last-child) {
    margin-bottom: 15px;
  }

  .lending__row {
    grid-template-columns: repeat(auto-fill, 48%);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .payment-lending {
    padding: 20px;
  }

  .payment-lending__title {
    font-size: 20px;
  }

  .payment-lending__img {
    margin-bottom: 20px;
  }

  .payment-lending__text {
    font-size: 15px;
  }

  .payment-lending__tons {
    width: 100%;
  }

  .lending-garanty__body {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 650px) {
  .lending-about-cards .cards-benefits__title {
    margin-bottom: 15px;
  }

  .lending-about-cards .cards-benefits__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .lending__shell {
    max-height: 244px;
    margin-bottom: 20px;
  }

  .table-lending__thead tr {
    padding: 10px;
  }

  .table-lending__actual {
    font-size: 16px;
  }

  .table-lending__date {
    font-size: 12px;
  }

  .table-lending__tr:last-child {
    min-height: 40px;
    padding-bottom: 10px;
  }

  .table-lending__tr {
    padding: 10px;
  }

  .table-lending__td {
    font-size: 13px;
  }

  .table-lending__quantity {
    font-size: 12px;
  }

  .table-lending__price {
    font-size: 11px;
  }

  .payment-lending__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .payment-lending__box {
    margin-bottom: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .payment-lending__choice {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .payment-lending__button {
    margin-top: 15px;
  }

  .payment-lending__tons {
    margin-bottom: 15px;
  }

  .payment-lending__outcome {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 551px) {
  .lending-garanty .option-clients .swiper-slide {
    opacity: 0.3;
    pointer-events: none;
  }

  .lending-garanty .option-clients .swiper-slide.swiper-slide-active {
    opacity: 1;
    pointer-events: auto;
  }

  .lending-garanty .option-clients .swiper-slide.swiper-slide-next {
    opacity: 1;
    pointer-events: auto;
  }
}

@media (max-width: 550px) {
  .lending-about__title {
    line-height: 110%;
    margin-bottom: 15px;
  }

  .lending-about__descr {
    font-size: 14px;
  }

  .lending-about-cards .cards-benefits__item {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .lending {
    padding: 20px 0;
  }

  .lending__body {
    margin-bottom: 20px;
  }

  .lending__title {
    margin-bottom: 10px;
  }

  .lending__descr {
    font-size: 13px;
    line-height: 130%;
  }

  .lending__row {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    grid-template-columns: repeat(auto-fill, 100%);
  }

  .lending__top {
    padding: 20px 10px;
    padding-top: 25px;
  }

  .lending__top .about__quantity,
  .lending__top .about__name,
  .lending__top p {
    font-size: 18px;
  }

  .lending .about__mobile,
  .lending .about__descr {
    font-size: 15px;
    line-height: 20px;
    max-width: unset;
  }

  .lending__card {
    padding: 20px 10px;
    min-height: 160px;
  }

  .lending__card .about__quantity {
    font-size: 20px;
  }

  .lending__shell {
    max-height: 264px;
  }

  .table-lending__thead tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .table-lending__thead tr:not(:last-child) {
    margin-bottom: 10px;
  }

  .table-lending__actual {
    margin-bottom: 5px;
  }

  .table-lending__tr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .table-lending__td:not(:last-child) {
    margin-bottom: 5px;
  }

  .payment-lending__title {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .payment-lending__choice {
    padding: 10px;
  }

  .payment-lending__input {
    padding: 15px;
    margin-bottom: 10px;
  }

  .payment-lending__button {
    padding: 15px;
    margin-top: 10px;
    font-size: 15px;
  }

  .payment-lending__tons {
    margin-bottom: 13px;
  }

  .payment-lending__tons input {
    padding: 15px;
  }

  .payment-lending__outcome {
    padding: 10px;
  }

  .payment-lending .dropdown {
    max-height: 40px;
    margin-bottom: 20px;
  }

  .payment-lending .dropdown__button {
    padding: 15px;
  }

  .payment-lending .dropdown__list {
    top: 45px;
  }

  .payment-lending .calculator__label {
    margin-top: -5px;
  }

  .outcome__button {
    font-size: 15px;
  }

  .lending-trust {
    padding-top: 20px;
  }

  .lending-garanty .option-clients__nav {
    display: none;
  }

  .lending-garanty .examples-cliens__title {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .lending__card p {
    margin-bottom: 0;
  }

  .lending__card .about__quantity p {
    margin-bottom: 0;
  }
}

@media (max-width: 450px) {
  .lending-about__wrapper {
    background-position-x: 30%;
  }

  .lending-about-cards .cards-benefits__item {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .lending__card {
    min-height: 130px;
    padding: 20px 10px;
  }

  .lending__card .about__fuel {
    margin-bottom: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .payment-lending__button {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .lending-garanty .option-clients .swiper-slide.swiper-slide-next {
    opacity: 0.3;
    pointer-events: none;
  }
}

@media (any-hover: hover) {
  .lending__card:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}